
{% include "home_t.html" %}
{% block content %}



<h2>Chat Messages</h2>
<div class="container">
  <div class="panel panel-primary">
      <div class="panel-heading"><span class="label label-default">nnsprasad </span>
          <span class="label label-primary"> Date:10-20-2018:12:23:11 </span>
          <span class="label label-success"> &crarr; Reply </span>
      </div>
    <div class="panel-body">what is your quesation</div>
  </div>


  <div class="panel panel-primary">
      <div class="panel-heading"><span class="label label-default">Mayur </span>
          <span class="label label-primary"> Date:10-20-2018:12:23:11 </span>
          <span class="label label-success"> &crarr; Reply </span>
      </div>
    <div class="panel-body">About rain today</div>
  </div>



  <div class="panel panel-primary">
      <div class="panel-heading"><span class="label label-default">Jai </span>
          <span class="label label-primary"> Date:10-20-2018:12:23:11 </span>
          <span class="label label-success"> &crarr; Reply </span>
      </div>
    <div class="panel-body">About Drinking water</div>
  </div>

 <div class="panel panel-primary">
      <div class="panel-heading"><span class="label label-default">Vidya </span>
          <span class="label label-primary"> Date:10-20-2018:12:23:11 </span>
          <span class="label label-success"> &crarr; Reply </span>
      </div>
    <div class="panel-body">On Air Pollution</div>
  </div>

 <div class="container replyContainer">
 <div class="panel panel-warning">
      <div class="panel-heading">
          <span class="label label-warning">Mayur </span>
          <span class="label label-primary"> Date:10-20-2018:12:23:11 </span>
      </div>
    <div class="panel-body rdonly">About Rain Toaday</div>
  </div>
<div class="panel panel-primary">
      <div class="panel-heading">
          <span class="label label-warning">@Mayur </span>
          <span class="label label-default">nnsprasad </span>
          <span class="label label-primary"> Date:10-20-2018:12:23:11 </span>
          <span class="label label-success"> &crarr; Reply </span>
      </div>
    <div class="panel-body">Today no rain in Banglore</div>
  </div>

  </div>

 <div class="panel panel-primary">
      <div class="panel-heading"><span class="label label-default">nnsprasad </span>
          <span class="label label-primary"> Date:10-20-2018:12:23:11 </span>
          <span class="label label-success"> &crarr; Reply </span>
      </div>
    <div class="panel-body">what is your quesation</div>
  </div>

 <div class="panel panel-primary">
      <div class="panel-heading"><span class="label label-default">nnsprasad </span>
          <span class="label label-primary"> Date:10-20-2018:12:23:11 </span>
          <span class="label label-success"> &crarr; Reply </span>
      </div>
    <div class="panel-body">what is your quesation</div>
  </div>

 <div class="panel panel-primary">
      <div class="panel-heading"><span class="label label-default">nnsprasad </span>
          <span class="label label-primary"> Date:10-20-2018:12:23:11 </span>
          <span class="label label-success"> &crarr; Reply </span>
      </div>
    <div class="panel-body">what is your quesation</div>
  </div>

    <button type="submit" id="subButton" class="btn btn-primary" onclick="javascript:ZZ();return false;" >Post Comment</button>

</div>
    {% endblock %}

